.header-product-detail-service {
  display: flex;
  margin: 10px;
  width: auto;
  height: 50%;
}
.header-product-detail-service .icon-service {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 3px 8px;
  font-size: 22px;
  bottom: 95.87%;
  color: #000000;
}
.header-product-detail-service .title-service {
  margin: 3px 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 45px;
  color: #ef4438;
}
.body-product-detail-service {

  padding: 0px 110px;
  margin: 0px 50px;
  width: auto;
  height: 1000px;
  width: 900px;
}
.item-product-detail-service {
  display: flex;
}
.content-left-product-detail-service {
  padding: 20px 0px;
  margin-right: 20px;
  width: 400px;
  height: 300px;
}
.content-left-product-detail-service img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border: 1px solid #e1e1e1;
}
.content-right-product-detail-service {
  height: 350px;
}
.content-right-product-detail-service h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 45px;
  color: #000000;
}
.content-right-product-detail-service .star-service {
  color: #ffc978;
  bottom: 79.88%;
  display: flex;
  align-items: center;
}
.content-right-product-detail-service .price-product-detail-service {
  display: flex;
}
.content-right-product-detail-service .price-product-detail-service p {
  padding-right: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.content-right-product-detail-service .user-star-service {
  color: #999;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.list-image-product-detail-service {
  display: flex;
  margin-top: 20px;

  width: 460;
  height: 140px;
}
.list-image-product-detail-service img {
  background-color: #fbfbfc;
  margin: 25px 20px 0px 0px;
  width: 150px;
  height: 115px;
  border: 1px solid #e1e1e1;
}
.text-product-detail-service {
  display: block;
}
.text-product-detail-service .service-provider-service {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.text-product-detail-service h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  color: #000000;
}
.text-product-detail-service p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}
.text-product-detail-service .service-type-service,
.service-detail-service,
.scope-service-service {
  display: flex;
  justify-content: space-between;
}
